/* 日历组件样式 */
.card div:nth-child(1) {
	background-color: #bdc0ba;
	padding-bottom: 0;
}
.card div:nth-child(3) div,
.card div:nth-child(2) div {
	height: 35px;
	width: 35px;
}
.wh_container[data-v-2ebcbc83]{
	border: 1px #eee solid;
}
.wh_top_changge li[data-v-2ebcbc83]{
	color: #000;
}
.wh_jiantou1[data-v-2ebcbc83],.wh_jiantou2[data-v-2ebcbc83]{
	border-color: #000;
	&:active{
		border-color: gray;
	}
}
.wh_content_item[data-v-2ebcbc83], wh_content_item_tag[data-v-2ebcbc83]{
	color: #000;
}
.wh_content_all[data-v-2ebcbc83]{
	background-color: #fff;
}
.wh_content_item .wh_isToday[data-v-2ebcbc83] {
	color: #fff;
	background: royalblue;
}
.wh_content_item .wh_chose_day[data-v-2ebcbc83] {
	background: transparent;
}
.wh_item_date[data-v-2ebcbc83]:hover {
	background: royalblue;
	border-radius: 100%;
	color: #fff;
}